
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewLogin</title>
    <style>
        .container {
            width: 500px;
            clear: both;
        }

            .container input {
                width: 100%;
                clear: both;
            }
    </style>
    <script src="~/Scripts/jquery-2.0.3.js"></script>

    <script language="javascript">
        $(document).ready(function () {
            sessionStorage.setItem("currentUser", null);
            $("#login-button").click(function () {
                if ($('#user').val().length && $('#password').val().length ) {
                    $.post(
                        "/Login/Login",
                        {
                            user: $('#user').val(),
                            password: $('#password').val()
                        },
                        function (data, success) {
                            console.log(data);
                            if (data["success"] === true) {
                                var temp = { userId: data["userId"] };
                                sessionStorage.setItem("currentUser", JSON.stringify( temp ));
                                console.log(JSON.parse(sessionStorage["currentUser"]));
                                location.href = 'Catalog';
                            } else {
                                $("#error").html("<h4 style=\"color: red;\">Bad credentials!</h4>");

                            }
                        }
                    );
                } else {
                    alert("Both fields should be non-empty!")
                }
            });
        });
    </script>
</head>
<body>
    <div class="containter">
        <h3>Login</h3>
        <form>
            <label for="user">Username:</label>
            <input type="text" id="user" name="user"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <button type="button" id="login-button">Login</button>
        </form>
        <section id="error">
        </section>
    </div>
</body>
</html>
